*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: black;
    line-height: 1.6;
    background-color: lightsteelblue;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: lightslategrey;

}
.logo img{
width: 80px;
height: 80px;
margin-left: 10px;
margin-top: 10px;
}
.nav-links{
   text-decoration: none; 
   list-style: none;
   display: flex;
   gap: 25px;
}
nav a{
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.nav-links a.active{
    color: royalblue;
    border-bottom: 2px solid royalblue;
}

.banner{
    background: url(../images/running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    border-radius: 10px;
    margin-top: 40px; 

    
}
.services{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto 50px;
    flex-wrap: wrap;
    gap: 20px;
}
.services div {
    flex: 1;
    min-width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    background-color: lightcyan;
}
.
.column{
    display: flex;
    gap: 20px;
}
.motive{
    flex: 1;
    min-width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.impact{
    flex: 1;
    min-width: 280px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form{
    width: 60%;
    margin: 20px auto 50px;
    
}
.form input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid grey;

}
button {
    padding: 5px 5px;
    background: blue;
    font-size: medium;
    border-radius: 10px;
    margin-top: 1%;
}
.up{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 20px;
}
.info{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: lightcyan;
    margin-left: 50px;
}
.item{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: lightcyan;
    margin-right: 100px;
}
.now{
    margin-left: 110px;
    margin-bottom: 20px;
}
.enter input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid grey;
    
}
.enter{
    width: 60%;
    margin: 20px auto 50px;
}
.enter h2{
    color: blue;
}
.footer-content{
    width: 100%;
display: flex;
justify-content: space-between;
border: 1px solid;
border-bottom: 35px;
margin-bottom: 15px;
padding-top: 30px;
padding-bottom: 30px;
background-color: lightslategrey;
}
.icons{
    padding-right: 5px;
}
.nav-links{
    padding-right: 5px;
}
footer{
    width: 100%;
    height: 0rem;
}
.content-container{
    background-color: lightsteelblue;
}
.points{
    text-align: center;
}
.content-container button{
    margin-bottom: 10px;
}
.img2{
    margin-bottom: 10px;
    border-radius: 10px;

}
.onto{
text-align: center;
background-color: lightsteelblue;
padding-bottom: 10px;
}
.onto2{
    text-align: center;
    background-color: lightsteelblue;
    padding-bottom: 10px;
    
}
@media (max-width:400px) {

    .nav-links{
   text-decoration: none; 
   list-style: none;
   display: block;
   gap: 20px;
}
}
